<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuan.ngu.springbootmybatis.mapper.CityMapper">
    <resultMap id="BaseResultMap" type="com.yuan.ngu.springbootmybatis.model.City">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="map" jdbcType="VARCHAR" property="map"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="test_int" jdbcType="INTEGER" property="testInt"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, country, map, name, state, test_int
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from city
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from city
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.yuan.ngu.springbootmybatis.model.City">
    insert into city (id, country, map, 
      name, state, test_int
      )
    values (#{id,jdbcType=BIGINT}, #{country,jdbcType=VARCHAR}, #{map,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{state,jdbcType=VARCHAR}, #{testInt,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.yuan.ngu.springbootmybatis.model.City">
        insert into city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="country != null">
                country,
            </if>
            <if test="map != null">
                map,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="state != null">
                state,
            </if>
            <if test="testInt != null">
                <![CDATA[test_int]]>,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="country != null">
                #{country,jdbcType=VARCHAR},
            </if>
            <if test="map != null">
                #{map,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                #{state,jdbcType=VARCHAR},
            </if>
            <if test="testInt != null">
                #{testInt,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.yuan.ngu.springbootmybatis.model.City">
        update city
        <set>
            <if test="country != null">
                country = #{country,jdbcType=VARCHAR},
            </if>
            <if test="map != null">
                map = #{map,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="state != null">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="testInt != null">
                test_int = #{testInt,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.yuan.ngu.springbootmybatis.model.City">
    update city
    set country = #{country,jdbcType=VARCHAR},
      map = #{map,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      test_int = #{testInt,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>