.contip {
	margin-top: 10px;
	margin-bottom: 10px;
	color: red;
}

.imgContext {
	width: 200px;
	height: 202px;
}

.li_2x_high .d_content_2x_high {
	padding-bottom: 50px;
}

.imgClose {
	position: relative;
	top: -202px;
	left: 185px;
}

.imgDiv1 {
	margin: 5px;
}

div .pay_ul {
	width: auto;
}

.d_content {
	width: 656px;
	float: left;
	height: auto;
}

.pay_ul li {
	height: auto;
	margin-bottom: 14px;
	overflow: hidden;
}